<div class="wrapper">
  <ul class="mb-0 pt-3 pb-3 d-flex justify-content-evenly gap-5 fw-bold bg-light">
    <li class="list-unstyled" style="width: 190px">Назва</li>
    <li class="list-unstyled" style="width: 190px">Шлях</li>
    <li class="list-unstyled" style="width: 190px">Короткий опис</li>
    <li class="list-unstyled" style="width: 190px">Проект</li>
  </ul>
  <div class="accordion">
    <div *ngFor="let app of apps" class="accordion-item">
      <div class="accordion-header">
        <button (click)="show(app.id)" [class.collapsed]="!isShow[app['id']]" class="accordion-button" type="button">
          <ul class="position-absolute start-0 end-0 d-flex justify-content-evenly gap-5">
            <li class="list-unstyled" style="width: 190px">{{ app.Name }}</li>
            <li class="list-unstyled" style="width: 190px">{{ app.Route }}</li>
            <li class="list-unstyled" style="width: 190px">{{ app.ShortDescription }}</li>
            <li class="list-unstyled" style="width: 190px">{{ app.Project }}</li>
          </ul>
        </button>
        <div [hidden]="!isShow[app['id']]" class="container mt-4"></div>
      </div>
    </div>
  </div>
</div>
