<app-project-management-modal [modalName]="'Створити проект'" [buttonName]="'Створити проект'">
  <form>
    <div class="form-group mb-3">
      <label for="name">Назва проекту</label>
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="emailHelp"
        placeholder="Напишість назву проекту"
        [(ngModel)]="projectManagementProjectService.createProjectName"
        name="projectName"
      />
    </div>
    <div class="form-group mb-3">
      <label for="description">Опис проекту</label>
      <input
        type="text"
        [(ngModel)]="projectManagementProjectService.createProjectDescription"
        class="form-control"
        id="description"
         name="projectDescription"
        placeholder="Напишість опис проекту"
      />
    </div>
    <button type="button" class="btn btn-primary" (click)="projectManagementProjectService.createProject()" >Створити проект</button>
  </form>
</app-project-management-modal>
